---
import Layout from "../layouts/Layout.astro";
import IconLink from "../components/IconLink.astro";
import { SITE_DESCRIPTION } from "../constants";
import { allBlogPosts } from "../lib/posts";
import Link from "../components/Link.astro";
import PostCard from "../components/PostCard.astro";
import GitHubLight from "../assets/icons/github_light.svg?url";
import GitHubDark from "../assets/icons/github_dark.svg?url";
import LinkedIn from "../assets/icons/linkedin.svg";
import ThreadsLight from "../assets/icons/threads_light.svg?url";
import ThreadsDark from "../assets/icons/threads_dark.svg?url";
import Rss from "../assets/icons/rss.svg";
import Mail from "../assets/icons/mail.svg";

const recentBlogs = (await allBlogPosts()).slice(0, 3);
const rssUrl = new URL("rss.xml", Astro.site);
---

<Layout title="Home" description={SITE_DESCRIPTION}>
  <section id="about" class="flex flex-col gap-4">
    <h1 class="font-semibold">Hi, My name is Volodymyr Chornonoh 👋🏻</h1>

    <p>
      I'm a full-stack software engineer, focused on building for the web.
      Currently living in Ukraine 🇺🇦. I'm always thrilled to learn something
      new, so I've created this website to share interesting and insightful
      things that I encounter. Welcome to my corner of the internet!
    </p>
  </section>

  <section id="socials" class="flex flex-col gap-4">
    <h2 class="font-semibold">My Socials</h2>

    <div class="flex flex-wrap gap-2">
      <IconLink href="https://github.com/chornonoh-vova">
        <picture>
          <source srcset={GitHubLight} media="(prefers-color-scheme: light)" />
          <source srcset={GitHubDark} media="(prefers-color-scheme: dark)" />
          <img width={18} height={18} src={GitHubLight} role="presentation" />
        </picture>
        GitHub
      </IconLink>
      <IconLink href="https://www.linkedin.com/in/volodymyr-chornonoh/">
        <LinkedIn width={18} height={18} role="presentation" />
        LinkedIn
      </IconLink>
      <IconLink href="https://www.threads.com/@volodymyrchornonoh">
        <picture>
          <source srcset={ThreadsLight} media="(prefers-color-scheme: light)" />
          <source srcset={ThreadsDark} media="(prefers-color-scheme: dark)" />
          <img width={18} height={18} src={ThreadsLight} role="presentation" />
        </picture>
        Threads
      </IconLink>
    </div>
  </section>

  <section id="subscribe" class="flex flex-col gap-4">
    <h2 class="font-semibold">Subscribe to updates</h2>

    <div class="flex flex-wrap gap-2">
      <IconLink href="https://newsletter.chornonoh-vova.com/subscribe">
        <Mail
          width={18}
          height={18}
          class="stroke-emerald-600"
          role="presentation"
        />
        Email
      </IconLink>
      <IconLink href={rssUrl}>
        <Rss
          width={18}
          height={18}
          class="stroke-orange-600"
          role="presentation"
        />
        RSS
      </IconLink>
    </div>
  </section>

  <section id="blog" class="flex flex-col gap-4">
    <div class="flex flex-wrap items-center justify-between gap-2">
      <h2 class="font-semibold">Recent blog posts</h2>
      <Link href="/blog" underline>See all blog posts</Link>
    </div>

    <ul class="flex flex-col gap-2">
      {
        recentBlogs.map((post) => (
          <li>
            <PostCard entry={post} />
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
